body {
    height: 100%;
    font-family: monospace;
background-color: #fcd8c7;
background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

/* YOUR CSS CODE GOES HERE */

